<header class="header">
    <div class="header-container">
        <div class="logo">
            <h1 class="milogo"><a href="/"><span>4</span>FRASES</a></h1>
            <p class="tagline">Rock, Rap, Trap, Pop & más</p>
        </div>
        
        <nav class="nav">
            <ul>
                <li><a href="/" class="nav-link">Inicio</a></li>
                <li><a href="/pages/musica.html" class="nav-link">Música</a></li>
                <li><a href="/pages/letras.html" class="nav-link">Letras</a></li>
                <li><a href="/pages/videos.html" class="nav-link">Vídeos</a></li>
                <li><a href="/pages/contacto.html" class="nav-link">Contacto</a></li>
            </ul>
        </nav>
    </div>
</header>